<div class="main-content">
    <h2>Your Dashboard</h2>
    {{#each posts}}
    <div class="post">
        <h2>{{this.title}}</h2>
        <p class="author">Posted by {{this.username}} on {{formatDate this.created_at}}</p>
        <div class="content">{{this.content}}</div>
    </div>
    {{/each}}
</div>
