{{> header title="Login"}}

<form class="login-form" action="/login" method="POST">
    <h2>Login</h2>
    <input type="email" id="email-login" name="email" placeholder="Email" required />
    <input type="password" id="password-login" name="password" placeholder="Password" required />
    <input type="submit" value="Login" />
</form>
