<form id="signup-form">
  <input type="text" id="username" placeholder="Username">
  <input type="password" id="password" placeholder="Password">
  <button type="submit">Sign Up</button>
</form>
<a href="/login">Login</a>
