{{> header title="Sign Up"}}

<form class="signup-form" action="/signup" method="POST">
    <h2>Sign Up</h2>
    <input type="text" id="username-signup" name="username" placeholder="Username" required />
    <input type="email" id="email-signup" name="email" placeholder="Email" required />
    <input type="password" id="password-signup" name="password" placeholder="Password" required />
    <input type="submit" value="Sign Up" />
</form>
